name: deploy-frontend

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  deploy-vercel:
    name: Deploy frontend to Vercel
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: npm
          cache-dependency-path: packages/client/package-lock.json

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Install dependencies
        working-directory: packages/client
        run: npm ci

      - name: Pull Vercel Environment Information (repo root)
        run: vercel pull --yes --environment=production --token=iJKZsi5viTmitD1DgtzWTI9e

      - name: Build Project Artifacts (repo root)
        run: vercel build --prod --token=iJKZsi5viTmitD1DgtzWTI9e

      - name: Deploy Project Artifacts to Vercel (repo root)
        run: vercel deploy --prebuilt --prod --token=iJKZsi5viTmitD1DgtzWTI9e
        env:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

