name: deploy-frontend

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  deploy-vercel:
    name: Deploy frontend to Vercel
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure Git for Vercel
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: npm
          cache-dependency-path: packages/client/package-lock.json

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Install dependencies
        working-directory: packages/client
        run: npm ci

      - name: Pull Vercel Environment Information
        working-directory: packages/client
        env:
          VERCEL_TOKEN: 4o59Na8aU3PjLoQv6qFdAoY1
          VERCEL_ORG_ID: team_62u3SG5muOIqctQpJTjSiZvt
          VERCEL_PROJECT_ID: prj_Rm1BeATN3FhNwRFpeQX9ATvEOWDy
        run: vercel pull --yes --environment=production --token "$VERCEL_TOKEN"

      - name: Build Project Artifacts
        working-directory: packages/client
        env:
          VERCEL_TOKEN: 4o59Na8aU3PjLoQv6qFdAoY1
          VERCEL_ORG_ID: team_62u3SG5muOIqctQpJTjSiZvt
          VERCEL_PROJECT_ID: prj_Rm1BeATN3FhNwRFpeQX9ATvEOWDy
        run: vercel build --prod --token "$VERCEL_TOKEN"

      - name: Deploy Project Artifacts to Vercel
        working-directory: packages/client
        env:
          VERCEL_TOKEN: 4o59Na8aU3PjLoQv6qFdAoY1
          VERCEL_ORG_ID: team_62u3SG5muOIqctQpJTjSiZvt
          VERCEL_PROJECT_ID: prj_Rm1BeATN3FhNwRFpeQX9ATvEOWDy
        run: vercel deploy --prebuilt --prod --token "$VERCEL_TOKEN"

