name: deploy-frontend

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  deploy-vercel:
    name: Deploy frontend to Vercel
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/client
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: npm
          cache-dependency-path: packages/client/package-lock.json

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=cQIofyurJL9Rx7XasNSnqbsT

      - name: Build Project Artifacts
        run: vercel build --prod --token=cQIofyurJL9Rx7XasNSnqbsT

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=cQIofyurJL9Rx7XasNSnqbsT
        env:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

